@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

a:hover,
a:focus {
    color: var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: var(--light-slate);
    line-height: 1.1;
}

p {
    margin: 0 0 15px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--navy);
}

::-webkit-scrollbar-thumb {
    background-color: var(--lightest-navy);
    border: 3px solid var(--navy);
    border-radius: 10px;
}

/* Utilities */
.section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
}

.highlight {
    color: var(--green);
}